

.homepage {
    padding: 0%;
}
.navbar {
    background-image: linear-gradient(rgb(32, 72, 88), black);
    font-size: 28px;
    font-weight: bold;
    color: white;
    height: 80px;
}
ion-row {
    padding-top: 20px;
}
.content {
    padding-top: 0px;
    // background-color: rgb(32, 72, 88);
    background-image: linear-gradient(rgb(32, 72, 88), black);
    height: 800%;
    align-content: center;
}
ion-card {
    padding-top: 20px;
}
.category {
    
    color: white;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    padding: 0%;
}
.image-size {
    height: 275px;
    width: 185px;
    display: inline-block;
    padding: 0%;
}
.footer {
    // background-color: #111D12;
    background-image: linear-gradient(rgb(32, 72, 88), black);
    color: rgb(255, 255, 255);
    height: 50px;
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
}
.card{
    height: 305px;
    width: 205px;
    display: inline-block;
    background-color: rgb(26, 59, 71);
    //background-image: linear-gradient(rgb(32, 72, 88), black);
}
    .dropdown{
    background-image: linear-gradient(rgb(32, 72, 88), black);
    font-family: 'Roboto Regular';
    height:50px;
    font-size:30px;
    padding: 0px;
    margin: 0px;
    
    }
    .radio-icon {
    display: none;
    }
    .alert-radio-inner,
    .alert-radio-icon,
    .alert-radio-label {
    display: none;
    }
    
    .select{
    color: white;
    background-color: --ion-color-light;
    }
    
    .md{
    
    --ion-text-color:white;
    --ion-select-backgroung-color:--ion-color-light-tint;
    
    
    // 
    
    }
    .dropbtn {
        background-color:  rgb(32, 72, 88);
        color: white;
        //padding: 16px;
        font-size: 40px;
        border: none;
        cursor: pointer;
        margin: 0px;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color:transparent;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: white;
        text-size-adjust: 40px;
        font-family: 'Roboto', sans-serif;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        //filter: blur(40px);
      }
      
      .dropdown-content a:hover {background-color:  rgb(32, 72, 88)}
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown:hover .dropbtn {
        background-color:  rgb(32, 72, 88);
      }