<div class="home-page">
  <div class="navbar">
    <ion-header>
      <ion-row>
          <ion-col size="12" size-xs>
            <div>
                <ion-icon name="menu" color="light"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="12" size-xs>
            <div>
                <ion-icon [routerLink]="['/home']" name="ios-arrow-back" color="light"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="12" size-xs>
            <div>
              <ion-text [routerLink]="['/home']" color="light">Movies</ion-text>
            </div>
          </ion-col>
          <ion-col size="12" size-xs>
            <div>
              <ion-icon name="logo-playstation" color="light"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="12" size-xs>
            <div>
              <ion-datetime displayFormat="HH:mm" min="1997" max="2019" value="{{ date }}"></ion-datetime>
            </div>
          </ion-col>
        </ion-row>
      </ion-header>
  </div>

  <div class="content">
    <ion-content>
      <ion-row class="dropdown">
        <ion-col>
          <div class="dropdown">
            <button class="dropbtn">{{common}}<ion-icon name="ios-arrow-down"  class="select" ></ion-icon></button>
            <div class="dropdown-content">
              <a [routerLink]="['/1','New Releases']" routerLinkActive="router-link-active" >New Releses</a>
              <a [routerLink]="['/2','Most Popular']" routerLinkActive="router-link-active" >Most Popular</a>
              <a [routerLink]="['/3','Action']" routerLinkActive="router-link-active" >Action</a>
              <a [routerLink]="['/4','Comedy']" routerLinkActive="router-link-active" >Comedy</a>
              <a [routerLink]="['/5','Horror']" routerLinkActive="router-link-active" >Horror</a>
              <a [routerLink]="['/7','Science Fiction']" routerLinkActive="router-link-active" >Science Fiction</a>
              <a [routerLink]="['/6','Animation']" routerLinkActive="router-link-active" >Animation</a>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="category" *ngFor="let item of data">
          
          <div *ngIf="item.year == years && id == 1 || item.rating > 4 && id == 2 || item.category == category">
            <ion-card class="card" [routerLink]="['/moviedetails', item.title]" routerLinkActive="router-link-active"> 
                <div class="image image-size">
                    <img src={{item.img}}/>
                    <p>{{ item.rating }}</p>
                </div>
            </ion-card>
            <div>
                {{ item.title }}
            </div>
          </div>
        </ion-col>
      </ion-row>
    
    </ion-content>
  </div>
  
</div>
<div class = "footer">
  <ion-text>Refer to GCB page</ion-text>
</div>
  <!-- <ion-item>
  <ion-label><Here click subcategory has to display ></ion-label>
  <ion-select>
  <ion-select-option value="cat">NEW RELESES</ion-select-option>
  <ion-select-option value="dog">MOST POPULAR</ion-select-option>
  <ion-select-option value="dog">COMEDY</ion-select-option>
  <ion-select-option value="dog">ANIMATION</ion-select-option>
  <ion-select-option value="dog">HORROR</ion-select-option>
  </ion-select>
  </ion-item> -->