<div class="home-page">
  <div class="navbar">
    <ion-header>
      <ion-row>
          <ion-col size="12" size-xs>
            <div>
                <ion-icon name="menu" color="light"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="12" size-xs>
            <div>
                <ion-icon [routerLink]="['/home']" name="ios-arrow-back" color="light"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="12" size-xs>
            <div>
              <ion-text [routerLink]="['/home']" color="light">Movies</ion-text>
            </div>
          </ion-col>
          <ion-col size="12" size-xs>
            <div>
              <ion-icon name="logo-playstation" color="light"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="12" size-xs>
            <div>
              <ion-datetime displayFormat="HH:mm" min="1997" max="2019" value="{{ date }}"></ion-datetime>
            </div>
          </ion-col>
        </ion-row>
      </ion-header>
  </div>

  <div class="content">
    <ion-content>
      <ion-row class="dropdown">
        <ion-col>
          <ion-item >
            <ion-select interface="popover" placeholder="Select One" mode="ios" class="md">
              <div class="md">
                <ion-select-option value="nes">New Releses</ion-select-option>
                <ion-select-option value="n64">Most Popular</ion-select-option>
                <ion-select-option value="ps">Action</ion-select-option>
                <ion-select-option value="genesis">Comedy</ion-select-option>
                <ion-select-option value="saturn">Horrer</ion-select-option>
                <ion-select-option value="snes">Animation</ion-select-option>
              </div>
            </ion-select>
            <ion-icon name="ios-arrow-down" class="select" ></ion-icon> 
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="category" *ngFor="let item of data">
          
          <!-- <div *ngIf="item.year == year && id == 1||item.rating > 4 && id == 2 || item.category == category">
            <ion-card class="card" > 
                <div [routerLink]="['/item.title']" routerLinkActive="router-link-active"  class="image image-size">
                    <img src={{item.img}}/>
                    <!-- <p>{{ item.year }}</p> -->
                <!-- </div> -->
            <!-- </ion-card> -->
            <!-- <div> -->
                <!-- {{ item.title }} -->
            <!-- </div> -->
          <!-- </div> -->
          <div *ngIf="item && item.year == 2019 && id == 1">
            <ion-card class="card" > 
                <div [routerLink]="[item.title]" class="image image-size">
                    <img src={{item.img}}/>
                    <p>{{ item.rating }}</p>
                </div>
            </ion-card>
            <div>
                {{ item.title }}
            </div>
          </div>

          <div *ngIf="item && item.rating > 4 && id == 2">
            <ion-card class="card" > 
                <div [routerLink]="[item.title]" class="image image-size">
                    <img src={{item.img}}/>
                    <p>{{ item.rating }}</p>
                </div>
            </ion-card>
            <div>
                {{ item.title }}
            </div>
          </div>

          <div *ngIf="item && item.category == 'action' && id == 3">
            <ion-card class="card" > 
                <div [routerLink]="[item.title]" class="image image-size">
                  <img src={{item.img}}/>
                  <p>{{ item.category }}</p>
                </div>
            </ion-card>
            <div>
              {{ item.title }}
            </div>
          </div>

          <div *ngIf="item && item.category == 'comedy' && id == 4">
            <ion-card class="card" > 
                <div [routerLink]="[item.title]" class="image image-size">
                  <img src={{item.img}}/>
                  <p>{{ item.category }}</p>
                </div>
            </ion-card>
            <div>
              {{ item.title }}
            </div>
          </div>

          <div *ngIf="item && item.category == 'horror' && id == 5">
            <ion-card class="card" > 
                <div [routerLink]="[item.title]" class="image image-size">
                  <img src={{item.img}}/>
                  <p>{{ item.category }}</p>
                </div>
            </ion-card>
            <div>
              {{ item.title }}
            </div>
          </div>

          <div *ngIf="item && item.category == 'animation' && id == 6">
            <ion-card class="card" > 
                <div [routerLink]="[item.title]" class="image image-size">
                  <img src={{item.img}}/>
                  <p>{{ item.category }}</p>
                </div>
            </ion-card>
            <div>
              {{ item.title }}
            </div>
          </div>
        </ion-col>
      </ion-row>
    
    </ion-content>
  </div>
  
</div>
<div class = "footer">
  <ion-text>Refer to GCB page</ion-text>
</div>
  <!-- <ion-item>
  <ion-label><Here click subcategory has to display ></ion-label>
  <ion-select>
  <ion-select-option value="cat">NEW RELESES</ion-select-option>
  <ion-select-option value="dog">MOST POPULAR</ion-select-option>
  <ion-select-option value="dog">COMEDY</ion-select-option>
  <ion-select-option value="dog">ANIMATION</ion-select-option>
  <ion-select-option value="dog">HORROR</ion-select-option>
  </ion-select>
  </ion-item> -->