


.navbar {
    background-image: linear-gradient(rgb(32, 72, 88), black);
    font-size: 28px;
    font-weight: bold;
    color: white;
    height: 80px;
}

ion-row {
    padding-top: 20px;
}
.content {
    padding-top: 0px;
    // background-color: rgb(32, 72, 88);
    background-image: linear-gradient(rgb(32, 72, 88), black);
    height: 325%;
    align-content: center;
}
.content-align {
    padding-left: 200px;
    padding-bottom: 50px;
}
.content-text {
    text-align: center;
}
ion-card {
    padding-top: 20px;
}
.category {
    
    color: white;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
   
    padding-top: 40px;
}

.text-prop {
  
    font-size: 30px;
    text-align: center;
}

.footer {
    // background-color: #111D12;
    background-image: linear-gradient(rgb(32, 72, 88), black);
    color: rgb(255, 255, 255);
    height: 50px;
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
}
.card{
    height: 305px;
    width: 205px;
    display: inline-block;
    background-color: rgb(26, 59, 71);
    //background-image: linear-gradient(rgb(32, 72, 88), black);
}