<div class="home-page">
    <div class="navbar">
      <ion-header>
        <ion-row>
            <ion-col size="12" size-xs>
              <div>
                  <ion-icon name="ios-arrow-back" color="light"></ion-icon>
              </div>
            </ion-col>
          
            <ion-col size="12" size-xs class="watch-align">
              <div>
                <ion-datetime displayFormat="HH:mm" min="1997" max="2019" value="{{ date }}"></ion-datetime>
              </div>
            </ion-col>
          </ion-row>
        </ion-header>
    </div>
    
    <div class="content category">
      <div *ngFor="let item of data">
              <div *ngIf="item && item.title == title">
                <ion-row>
                  <ion-col>
                    <div>
                      <img [routerLink]="['/1', item.title, 'movieplayer']" src={{item.img}} class="img-prop"/>
                      <!-- <video src={{item.video}} class="img-prop"></video> -->
                    </div>
                  </ion-col>
                  <ion-col class="text-prop">
                    <ion-row></ion-row>
                    <ion-row></ion-row>
                    <ion-row>{{ item.title }}</ion-row>
                    <ion-row>{{ item.year }} | PG-13 | {{item.duration}} Minutes</ion-row>

                    <ion-row></ion-row>
                    <ion-row></ion-row>
                    <ion-row></ion-row>

                    <div class="logos-border">
                        <ion-row>
                            <ion-col><a src="https://www.youtube.com/watch?v=tQ0mzXRk-oM"><ion-icon name="logo-youtube"></ion-icon></a></ion-col>
                            <ion-col><ion-icon [name]="favicon" (click)="FavChange()" >  md="md-star-outline"></ion-icon></ion-col>
                            <ion-col><ion-icon name="information-circle" [routerLink]="['/movieinfo', item.title]" ></ion-icon></ion-col>
                          </ion-row>
                          <ion-row class="text-prop-inside">
                            <ion-col class="text-prop-inside">Watch Trailer</ion-col>
                            <ion-col class="text-prop-inside">Add to Favourites</ion-col>
                            <ion-col class="text-prop-inside">More Info</ion-col>
                          </ion-row>
                          
                    </div>

                  </ion-col>
                </ion-row>
              </div>
      </div>
    </div>
  </div>
  <div class = "footer">
      <ion-text>Refer to GCB page</ion-text>
  </div>
  
